/**
 * Innovation Forum Kashmir
 * https://www.iforkashmir.com
 * 
 * Designed and developed by
 * Alpha Magnus Studios
 * https://www.alphamstudios.com
 */

section, footer, nav {
    display: block;
  }

  a {
    text-decoration: none;
    color: #333;
  }
  figure {
    margin: 0;
  }
  .tile {
    width: 33.33333%;
    height: 400px;
    margin: auto;
    margin-top:50px;
    position: relative;
    float: left;
  }

  @media screen and (max-width: 993px) {
    .tile {
      width: 100%;
      
    }
  }
  .tile .front, .tile .back {
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }
  .tile h3, .tile p, .tile a {
    padding: 0 20px;
    text-align:justify;
    text-justify: auto;
  }
  .tile img {
    max-height: 130px;
    width: 100%;
  }
  .tile .front {
    background: #fff;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .tile .front h3 {
    font-size: 1.2em;
    color: white;
    text-shadow: 0 0 5px #000;
    margin-top: -1.5em;
    margin-bottom: 1.5em;
  }
  .tile .back {
    background: rgb(255, 0, 76);
    color: white;
    z-index: 1;
    padding-top: 50px;
    height: 300px;
  }
  .tile .back h3 {
    font-size: 1.5em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .tile .back a {
    display: block;
    font-size: 1.2em;
    color: white;
    border-top: 1px solid #fc0;
    margin: 0 20px;
    padding: 0.5em 0;
  }
  .tile:hover .front {
    top: -600px;
    transform: rotate(2deg);
  }
  